@media only screen and (min-width: 1000px)
stylesheet.min.css?ver=4.7.3:1
header.centered_logo .q_logo a {
  max-height: 65px!important;
}
header.centered_logo .q_logo img {
  max-width: 215px;
  height: auto!important;

}
