.aboutfa{

}
.aboutfa h2,
.aboutfa h1{
    margin-top:50px;
    margin-bottom: 50px;
    line-height: 26px;
}
.celebres h2{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 43px!important;
}

.celebres p{
    color:#BFBEBE;
    font-size: 17px;
    line-height: 22px;

}
.testimonials .testimonial_text_inner p.testimonial_author{
    color:#ee7025;
    text-transform: uppercase;

}
