/*
Theme Name: Filmakademy
Description: A child theme of Stockholm Theme
Author: FilmAkademy
Author URI: https://www.filmakademy.com
Version: 1.0.0
Template: stockholm
*/
@import url("../stockholm/css/stylesheet.min.css");

body, p {
    font-size: 1rem;
    line-height: 1.5;
}
h1, .title h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1.05rem; }

.drop_down .second .inner ul, .drop_down .second .inner ul li ul, .shopping_cart_dropdown, li.narrow .second .inner ul {
    background-color: #ffffff!important;
}

a.film-button {
    width: 150px;
}
.vc_general.vc_btn3,
a.film-button:hover {
    border: none!important;
}

.film-template-default.single .movie {
    position: relative;
    width: 260px;
    height: 350px;
    margin-bottom: 35px;
    overflow: hidden;
}
.film-template-default.single .featured {
    position: relative;
    height: 314px;
    margin-bottom: 35px;
    overflow: hidden;
}
.film-template-default.single .featured_content h2 {
    line-height: 1;
}
.film-template-default.single .movie_content h2,
.film-template-default.single .movie_content h3 {
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.film-template-default.single .featured .featured_image,
.film-template-default.single .movie .movie_image {
    overflow: hidden;
    max-width: 260px;
    max-height: 350px;
}
.film-template-default.single .featured .featured_image img,
.film-template-default.single .movie .movie_image img {
    object-fit: cover;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    width: 260px;
    height: 350px;
}
.film-template-default.single .featured .featured_image img {
    width: 222px;
    height: 314px;
}
.film-template-default.single .featured:hover img,
.film-template-default.single .movie:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.film-template-default.single .movie .movie_content {
    position: absolute;
    width: calc(100% - 15px);
    top: 253px;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    -webkit-transition: top .8s ease-in-out;
    -moz-transition: top .8s ease-in-out;
    transition: top .8s ease-in-out;
}
.film-template-default.single .movie:hover .movie_content {
    top: 0;
    bottom: 0;
    -webkit-transition: top .8s ease-in-out;
    -moz-transition: top .8s ease-in-out;
    transition: top .8s ease-in-out;
}
.film-template-default.single .movie .movie_content p {
    margin-top: 10px;
    height: 170px;
}
.film-template-default.single .movie .movie_content .button {
    width: 100%;
    text-align: center;
}
.film-template-default.single .movie .movie_content .button span {
    display: inline-block;
    width: 150px;
    padding: 5px;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.movie-template-default.single .section_inner .poster img {
    max-width: 90%;
}
.movie-template-default.single .section_inner .overview,
.movie-template-default.single .section_inner .details {
    margin-bottom: 18px;
}
.movie-template-default.single .section_inner .tagcloud {
    display: inline-block;
    width: 100%;
    margin-bottom: 18px;
}
.movie-template-default.single .section_inner .tagcloud span {
    display: inline-block;
    height: 32px;
    margin: 0 3px 5px 0;
    padding: 0 15px;
    color: #a7a6a6;
    border: 1px solid #a7a6a6;
    line-height: 32px;
    vertical-align: middle;
    font-size: 10px!important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
}
.movie-template-default.single .section_inner .sharer .facebook {
    background-color: #3b5998;
}
.movie-template-default.single .section_inner .sharer .twitter {
    background-color: #55acee;
}
.movie-template-default.single .section_inner .sharer .googleplus {
    background-color: #dd4b39;
}
.movie-template-default.single .section_inner .sharer .circle_social:hover {
    background-color: #888888;
}
.q_tabs .tabs-nav li.active a, .q_tabs .tabs-nav li a:hover { background-color: #ed7025; }
#back_to_top span span { font-size: 2rem; }
.film-category-grid { min-height: 674px; }

.vc_col-sm-3 .vc_gitem-post-data-source-post_title,
.vc_col-sm-4 .vc_gitem-post-data-source-post_title {
    height: 56px;
}
.vc_col-sm-3 .vc_gitem-post-data-source-post_excerpt ,
.vc_col-sm-4 .vc_gitem-post-data-source-post_excerpt {
    text-align: left;
    display: block;
    display: -webkit-box;
    max-width: 400px;
    margin: 0 auto 15px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vc_col-sm-3 .vc_gitem-post-data-source-post_excerpt {
    -webkit-line-clamp: 8;
    height: 192px;
}
.vc_col-sm-4 .vc_gitem-post-data-source-post_excerpt {
    -webkit-line-clamp: 7;
    height: 168px;
}
.title.standard_title .breadcrumb {
    margin: 6px 0 0 0;
}
.title.standard_title.position_left .breadcrumb {
    text-align: right;
}
.foldedText + [data-readmore-toggle] { padding: 10px 0; }
