


    body{
    	    	    	font-family: 'Lato', sans-serif;
    	    	 color: #4c4c4c;     	 font-size: 16px;     	font-weight: 300;    }
    	h3, h6, .pagination ul li.active span, .pagination ul li > a.inactive, .subtitle, .blog_holder article .post_info, .comment_holder .comment .text .comment_date, .blog_holder.masonry .post_author, .blog_holder.masonry .post_author a, .blog_holder.masonry_full_width .post_author, .blog_holder.masonry_full_width .post_author a, .latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a, .latest_post_holder .post_author, .latest_post_holder a.post_author_link, .projects_holder article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category, .testimonials .testimonial_text_inner p:not(.testimonial_author), .price_in_table .mark, body div.pp_default .pp_description, .side_menu .widget li,aside.sidebar .widget:not(.woocommerce) li, aside .widget #lang_sel ul li a, aside .widget #lang_sel_click ul li a, section.side_menu #lang_sel ul li a, section.side_menu #lang_sel_click ul li a, footer #lang_sel ul li a, footer #lang_sel_click ul li a, .header_top #lang_sel ul li a, .header_top #lang_sel_click ul li a, .header_bottom #lang_sel ul li a, .header_bottom #lang_sel_click > ul > li a,.single_links_pages span,.gform_wrapper .gsection .gfield_label,.gform_wrapper h2.gsection_title,.gform_wrapper h3.gform_title{
		    	font-family: 'Lato', sans-serif;
	}
		






	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 10px !important;
		}
	}	











.header_top{
	background-color: rgba(255,255,255,1);
}


header.sticky .header_top{
	background-color: rgba(255,255,255,0.7);
}



	.content{
		margin-top: 0;
	}

	.logo_wrapper,
	.side_menu_button,
	.shopping_cart_inner{
		height: 60px;
	}

			.content.content_top_margin{
			margin-top: 60px !important;
		}
		

	header:not(.centered_logo) .header_fixed_right_area {
	    line-height: 60px;
	}









	header.scrolled .logo_wrapper,
	header.scrolled .side_menu_button{
		height: 60px;
	}

	header.scrolled nav.main_menu ul li a {
		line-height: 60px;
	}

	header.scrolled .drop_down .second{
		top: 60px;
	}


	header.sticky .header_bottom,
	header.fixed.scrolled .header_bottom,
	header.fixed_hiding.scrolled .header_bottom{
		box-shadow: none; 
		-webkit-box-shadow: none;
	}



        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 75px;
            }
        }
    

	@media only screen and (max-width: 1000px){
		.q_logo a{
			height: 30px !important;
		}
	}	

	@media only screen and (max-width: 480px){
		.q_logo a{
			height: 30px !important;
		}
	}	

    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;
		background-position: center top !important;
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 60px;
}


    .drop_down .second .inner ul,
    .drop_down .second .inner ul li ul,
	.shopping_cart_dropdown,
    li.narrow .second .inner ul {
    background-color: #;
    background-color: rgba(0,0,0,1);
    }




nav.main_menu > ul > li > a{
	 color: #5b5b5b; 		font-family: 'Montserrat', sans-serif;
		    		 font-weight: 600; 		}

nav.main_menu ul li:hover a,
header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a{
	color: #ed7025;
}

	nav.main_menu > ul > li.active > a{
	    color: #ed7025	}





.drop_down .second .inner > ul > li > a,
.drop_down .second .inner > ul > li > h4,
.drop_down .wide .second .inner > ul > li > h4,
.drop_down .wide .second .inner > ul > li > a,
.drop_down .wide .second ul li ul li.menu-item-has-children > a,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h4 a,
.drop_down .wide .second .inner > ul li .flexslider ul li  h4 a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h4,
.drop_down .wide .second .inner > ul li .flexslider ul li  h4{
			 font-size: 14px; 					}













	h1{
			color: #444444; 				font-family: 'Montserrat', sans-serif;
				font-size: 34px; 		line-height: 40px; 				font-weight: 800; 	    letter-spacing: 5px; 	    	}
	h2{
					font-family: 'Montserrat', sans-serif;
				font-size: 26px; 		line-height: 52px; 				font-weight: 700; 	    		text-transform: none; 	}
	h2, h2 a{
		color: #6d6d6d; 	}		
	h3{
				font-family: 'Montserrat', sans-serif;
				font-size: 20px; 		line-height: 40px; 		font-style: normal; 		font-weight: 600; 	    		text-transform: none; 	}
	h3, h3 a{
		color: #6d6d6d; 	}
	h4{
					font-family: 'Montserrat', sans-serif;
										font-weight: 400; 	    		text-transform: none; 	}
	h4,	h4 a{
		color: #393939; 	}
	h5{
				font-family: 'Montserrat', sans-serif;
										font-weight: 400; 	    		text-transform: none; 	}
	h5,	h5 a{
		color: #393939; 	}
	h6{
														text-transform: none; 	}
	h6, h6 a{
		color: #393939; 	}


	p{
		font-family: "Montserrat", sans-serif;font-size: 16px;line-height: 28px;font-weight: 300;color: #4c4c4c	}


	a, p a{
		color: #ee7025;						text-decoration: none;	}

	a:hover,
	p a:hover{
		color: #ee7025;		text-decoration: none;	}




	.title h1{
						font-family: 'Montserrat', sans-serif;
															}

	.subtitle{
    color: #ee7127;         	    				}

    .breadcrumb a, .breadcrumb span{
    color: #d1d1d1;         font-size: 10px;             		    }

    .breadcrumb a:hover, .breadcrumb span.current{
        color: #ffffff;
    }

	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) h2{
		font-family: Montserrat, sans-serif	}























	.blog_holder article .post_info,
	.blog_holder.blog_chequered article .quote_author,
	.latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a{
		font-family: Montserrat, sans-serif;color: #ee7127	}

	.blog_holder article .post_info a,
	.latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a, .latest_post_holder .post_info_section:before{
		color: #ee7127;
	}
































































	.qbutton,
	.qbutton.medium,
	#submit_comment,
	.load_more a,
	.blog_load_more_button a,
	.blog_holder article .post_text a.more-link span{
		color: #ed8d55;font-family: Montserrat;background-color: #ed8d55;	}
		.qbutton:hover,
	.qbutton:not(.white):hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.blog_holder article .post_text a.more-link:hover span{
	    color: #ed7025;	}
		.qbutton.white {
		background-color: #ed8d55;	}
		.qbutton.white:hover {
		background-color: #ed7025;	}
	
	#back_to_top > span{
		font-size: 14px;	}
	

	.qode_image_gallery_no_space .controls a.prev-slide, 
	.qode_image_gallery_no_space .controls a.next-slide, 
	.qode_carousels .caroufredsel-direction-nav .caroufredsel-navigation-item,
	.flex-direction-nav a, .caroufredsel-direction-nav a,
	.portfolio_single .owl-carousel .owl-prev,
	.portfolio_single .owl-carousel .owl-next,
	body div.pp_default a.pp_next,
	body div.pp_default a.pp_previous{
		font-size: 14px;background-color: #ee7127;	}
			body div.pp_default a.pp_next,
		body div.pp_default a.pp_previous{
		background-color: #ee7127 !important;		}
				body div.pp_default a.pp_next:after,
		body div.pp_default a.pp_previous:after{
		display: inline-block;width: 100%;height: 100%;left: 0;font-size: 14px;		}
		



	.single_tags a,
	aside.sidebar .widget:not(.woocommerce) .tagcloud a,
	.widget .tagcloud a{
		font-size: 12px !important	}









	.q_counter_holder span.counter{
					}
	.countdown-period{
						}




.q_google_map{
	height: 750px;
}













	aside.sidebar .widget h4{
		background-color:#a0a0a0;
	}











	.side_menu  {
	text-align: left;
	}










	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content{
		background-color: transparent;
	}

	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 45px 0 0;
	}

	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 25px 0 5px;
	}

	.blog_holder.blog_single article .post_text .post_text_inner {
		padding: 30px 0 0;
	}

	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content {
		padding: 0;
	}

































	.paspartu_enabled header{
		padding-top: 1%;
	}
	.paspartu_enabled .paspartu_top{
		padding-top:  1%;
	}
	.paspartu_enabled .paspartu_bottom{
		padding-bottom: 1%;
	}
	.paspartu_enabled .paspartu_left{
		width: 1%;
	}
	.paspartu_enabled .paspartu_right{
		width: 1%;
	}

	.paspartu_enabled .wrapper{
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 1%;
	}

	.paspartu_enabled aside.vertical_menu_area,
	.paspartu_enabled  .vertical_area_background{
		left: 1%;
	}

	.paspartu_enabled footer.uncover{
		padding-bottom: 1%;
	}

	.paspartu_enabled.vertical_menu_enabled .content .content_inner{
		padding-top: 1%;
	}

	.paspartu_enabled #back_to_top,
	.paspartu_enabled #back_to_top.on {
		right: calc(1% + 10px);
	}







		



	.portfolio_single.big-slider h2.portfolio_single_text_title,
	.portfolio_single.big-images h2.portfolio_single_text_title,
	.portfolio_single.gallery h2.portfolio_single_text_title{
		font-family: Montserrat, sans-serif	}

	.portfolio_single.small-slider .portfolio_detail > h3.info_section_title,
	.portfolio_single.small-images .portfolio_detail > h3.info_section_title{
		font-family: Montserrat, sans-serif	}

	.portfolio_detail .info .info_section_title{
		font-family: Montserrat, sans-serif	}

	.portfolio_detail .info > p{
		font-family: Montserrat, sans-serif	}









    .projects_holder.hover_text article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category{
    font-family: Montserrat;    }
    

































	
	
	





	

























	
	











